* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../assets/aboutIMG.jpg');
    background-color: #fdab6c;  
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    color: #FFF6F4;
    font-size: 2em;
    text-decoration: none;
    user-select: none;
}

.navigation a {
    color: #fff;
    position: relative;
    margin-left: 20px ;
    text-decoration: none;
    font-weight: 500;
    transition: .25s;
}

.loginBtn {
    color: #FFF6F4;
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #FFF6F4;
    outline: none;
    margin-left: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.05em;
    font-weight: 500;
    transition: .25s;
}

.loginBtn:hover {
    background: #FFF6F4;
    color: #FFA41B;
    transform: scale(1.05);

}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #FFF6F4;
    transform: scaleX(0);
    transition: .25s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .nono:hover::after {
    transform: scaleX(0);
}

.center {   
    display: flex;
    color: #FFF6F4  ;
    background-color: rgb(255, 246, 244, 0.01);  
    position: absolute;
    padding: 0px 20px 20px 20px;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    top: 115px;
    width: 100%;
    height: 80%;
    justify-content: center;
    flex-wrap: wrap;
}

.center h1 {
    width: 80%;
    font-size: 3em;
}

.center h1::after {
    content: '';
    position: absolute;
    display: block;
    margin: 0;
    height: 6px;
    background: #FFA41B;
    width: 17%;
}

.center p {
    width: 80%;
}

